name: Build and Deploy to ACI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Backend
      run: |
        docker build -t abhi0565/order-backend:${{ github.sha }} ./Order-Management
        docker build -t abhi0565/order-backend:latest ./Order-Management
        docker push abhi0565/order-backend:${{ github.sha }}
        docker push abhi0565/order-backend:latest

    - name: Build and Push Frontend
      run: |
        docker build -t abhi0565/ecom-frontend:${{ github.sha }} ./ecommerceorder-frontend
        docker build -t abhi0565/ecom-frontend:latest ./ecommerceorder-frontend
        docker push abhi0565/ecom-frontend:${{ github.sha }}
        docker push abhi0565/ecom-frontend:latest

    - name: Deploy to ACI
      run: |
        az container create --resource-group EcommerceRG --file aci-deployment.yaml
